// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$light-orange: #FED270;
$light-yellow: #FDFEE3;
$light-green: #5BA199;
$light-blue: #73D6CD;
$light-brown: #9C6C7C;
