
h1{
  font-family: 'Pacifico', cursive;
  color: #66BFBF;
  font-size: 5em;
  font-weight: bold;
}

h3{
  font-family: 'Montserrat', sans-serif;
  color: #66BFBF;
  font-size: 2em;
  font-weight: bold;
}

.top-container{
  margin: -10px -10px;
  text-align: center;
  background-color: #d0e8f2;
}

.top-img{
  margin-top: 30px;
  margin-left: 450px;
}

.bottom-img{
  position: absolute;
}

.mountain{
  margin-top: 50px;
   margin-bottom: -5px;
}

span{
  text-decoration: underline;
}

.middle-container{
  width: 80%;
  height: auto;
  margin: 100px auto 100px auto;
  text-align: center;
}

.skill-top{
  width: 80%;
  height: 300px;
  margin: auto;

}

.palmtree{
  border-radius: 50%;
  width: 250px;
  height: 250px;
  margin-left: auto;
  margin-right: 20px;
  float: left;
}

.skill-bottom{
  width: 80%;
  height: 300px;
  margin: auto;
}

.yoga{
  border-radius: 50%;
  width: 250px;
  height: 250px;
  margin-right: 30px;
  margin-left: 20px;
  float: right;
}

a{
  font-family: 'Montserrat', sans-serif;
  padding: 10px 20px;
}

a:hover{
  color: #EAF6F6;
}

.copyright{
  color: #EAF6F6;
}

.bottom-container{
  margin: -10px -10px;
  height: 100px;
  padding-top: 40px;
  color: #40514E;
  background-color: #66BFBF;
  text-align: center;
}
